.footer-item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  background: $white;
  z-index: 1;
  .left-item {
    display: flex;
    align-items: center;
    height: 100%;
    width: 370px;
    .icon-block {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0 20px;
      font-size: 17px;
      .icon {
        margin-left: 10px;
        font-size: 20px;
      }
      &:hover {
        cursor: pointer;
        background: $icon_hover;
      }
    }
  }
  .center-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    .icon-block {
      background: $white;
      border: 1px solid $iconblock_border;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      .icon {
        color: $icon_main;
        font-size: 20px;
        &.red {
          color: $icon_red;
        }
      }
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px $icon_hover;
      }
      &.red-bg{
        background: $icon_red;
        .icon{
          color: $white;
        }
      }
    }
  }
  .right-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 350px;
    .icon-block {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      width: 150px;
      color: $icon_main;
      .icon {
        font-size: 20px;
        margin-bottom: 10px;
      }
      .title {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
      }
      &:hover {
        cursor: pointer;
        background: $icon_hover;
      }
    }
  }
}


  @media only screen and (min-width: 1824px) {
    //1824px Max Size
    @import "./callfooter1824px";
  }
  
  @media only screen and (max-width: 1280px) {
    //1280 Surface Pro 7
  
    @import "./callfooter1280px";
  }
  
  @media only screen and (max-width: 1024px) {
    //1024 Mest Hub
  
    @import "./callfooter1024px";
  }
  
  @media only screen and (max-width: 912px) {
    //912 Surface Pro 7
    //820 Ipade Air
    //768 Ipade Mini
    @import "./callfooter912px";
  }
  
  @media only screen and (max-width: 540px) {
    // New meeting and enter code in verticaly set pending
    //540 Surface Duo
    //412 Iphone XR
    //412 Sansung Galaxy S20 Ultra
    //414 Samsang Galaxy a51/71
    @import "./callfooter540px";
  }
  
  @media only screen and (max-width: 416px) {
    // New meeting and enter code in verticaly set pending
    //393 Pixel5
    //390 12Pro
    //375 SE
    // 360 Samsumng Galaxy s8
    @import "./callfooter416px";
  }

  @media only screen and (max-width: 393px) {
    // New meeting and enter code in verticaly set pending
    //393 Pixel5
    //390 12Pro
    //375 SE
    // 360 Samsumng Galaxy s8
    @import "./callfooter390px";
  }

  @media only screen and (max-width: 282px) {
    // New meeting and enter code in verticaly set pending
    //393 Pixel5
    //390 12Pro
    //375 SE
    // 360 Samsumng Galaxy s8
    @import "./callfooter282px";
  }