@import "../../../../assets/scss/base/variables";
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    .logo{
        display: flex;
        align-items: center;
        width: 124px;
        font-size: large;
        cursor: pointer;
        .img{
            width: 100%;
            height: 50%;
        }
    }
    .action-btn{
        display: flex;
        align-items: center;
        .btn {
            cursor: pointer;
            display: flex;
            width: 70%;
            height: 40%;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            padding: 15px;
            border: none;
            outline: none;
            background: none;
            border-radius: 5px;
            color: #00796b;
            text-decoration: none;
            .icon-block {
              padding-right: 10px;
            }
            &:hover {
              background: #f6faf9;
            }
          }
        .icon-block{
            font-size: 20px;
            padding: 10px;
            color: #5f6368;
        }
    }
}