// Colors

$btnBackgroundColor: #00796b;
$btnHoverColor : #015f54;

$white: #ffffff;
$red:#b22424;
$black:#000;

$flottingLableColor:#0a53e4;
$iconColor:#5f6368;
$inputBGcolor: #ccc;
$errorBlockBGcolor:#f2dede;
$helpTextBorderColor:#ddd;
$greenroomDivider : #b4b8bd;

// Main call screen color varibales

$icon_red : #d93025;
$icon_main:#555;
$icon_hover:#eee;
$iconblock_border:rgb(223, 223, 223);

// heade icon color

$icon_header: #505357;
$dateColor: #5f6368;
